@font-face {
	font-family: 'exoTim'; 
	src: url(../fonts/ofont.ru_Exo\ 2\ Thin.ttf); 
}
@font-face {
	font-family: 'porshe'; 
	src: url(../fonts/porshe.ttf); 
}
body {
    background-color: #121212;
    overflow-x: hidden;
}
.intro {
    height: 100vh;
    position: relative;
    padding: 150px 0 0 0;
}
.intro__logo {
    position: absolute;
    left: 50%;
    top: 12.5%;
    transform: translateX(-50%);
    z-index: 5;
}
.intro__title {
    font-family: 'porshe';
    font-size: 160px;
    background: #212121;
    background: linear-gradient(to top, #212121 43%, #676565 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 4;

    text-transform: uppercase;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.intro__mashine {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50.8%, -49%);
    z-index: 9;
    width: 1600px;
}
.into__fone {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 86%;
}
.intro__obv {
    position: absolute;
    left: 4%;
    top: 8.5%;
    z-index: 5;
}
.idea {
    margin-top: 50px;
}
.idea__content {
    text-align: right;
    max-width: 650px;
    margin-left: 700px;
}
.idea__title {
    font-family: 'exoTim';
    font-size: 120px;
    color: #eaead9;
    line-height: 0.5;
}
.idea__title span {
    font-family: 'porshe';
    font-size: 50px;
    color: #d1d195;
    
}
.idea__text {
    font-family: 'exoTim';
    max-width: 550px;
    font-size: 16px;
    color: #d3d3d0;
    padding-left: 270px;
    text-align: justify;
    margin-top: 30px;
}
.idea .swiper-button-next {
    display: none;
}
.idea__machine {
    position: absolute;
    left: 0;
    top: 60px;
    width: 950px;
}
.idea__sidenya {
    position: absolute;
    left: 15%;
    top: -21%;
    width: 425px;
    animation-name: opas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.idea__salane {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 800px;
}
.idea__content2 {
    padding-left: 390px;
    padding-top: 100px;
    z-index: 5;
    position: relative;
}
.idea__title2 {
    font-family: 'porshe';
    font-size: 30px;
    max-width: 1200px;
    color: #d1ce89;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1.2;
}
.idea__title2 span {
    font-size: 28px;
}
.idea__text2 {
    font-family: 'exoTim';
    font-size: 16px;
    color: #e5e5e1;
    max-width: 590px;
    padding-left: 500px;
    margin-top: 40px;
    text-align: justify;
    padding-right: 100px;
}
.idea__text2 span {
    display: block;
}
@keyframes opas {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.features {
    margin-top: 200px;
    background: rgb(18,18,18);
    background: linear-gradient(180deg, rgba(18,18,18,1) 82%, rgba(77,79,81,1) 100%);
}
.features__inner {
    
}
.features .swiper {
    height: 600px;
}
.features__title {
    font-family: 'exoTim';
    color: #adad9b;
    font-size: 130px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 20px;
    padding-left: 10px;
}
.features__suptitle {
    text-transform: uppercase;
    font-family: 'porshe';
    color: #cdcd97;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
}
.features__img {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 900px;
}
.features__text {
    font-family: 'exoTim';
    font-size: 18px;
    color: #e2e2dc;
    text-align: justify;
    max-width: 440px;
    margin-top: 10px;
    padding-left: 10px;
}
.features__imgs {
    display: flex;
}
.features__imgs-item {
    position: relative;
    width: 300px;
    height: 200px;
}
.features__imgs-item img {
    position: absolute;
    left: 20px;
    top: 0;
    width: 130px;
}
.features__imgs-item img:first-child {
    transform: rotate(95deg);
    animation-name: rotate;
    animation-duration: 290s;
    animation-iteration-count: infinite;
}
.features__imgs-item img:nth-child(2) {
    top: 120px;
    left: -10px;
    width: 190px;
    transform: rotate(0);
}
.features__content-text {
    margin: 50px 0 30px 0;
    font-family: 'exoTim';
    color: #efefe9;
    font-size: 18px;
    padding-left: 10px;
}
.features__imgs-text {
    font-family: 'exoTim';
    font-size: 18px;
    color: #a6a6a6;
    position: absolute;
    bottom: 10px;
    left: 140px;
    transform: translateX(-125%);
}
.features__imgs-text span {
    display: block;
    padding-left: 21px;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(9999deg);
    }
}
.features__imgs-item2 {
    display: flex;
    align-items: center
}
.features__imgs-text2 {
    font-family: 'exoTim';
    font-size: 12px;
    color: #d2d4d7;
    line-height: 1.2;
}
.features__imgs-text2 span{
    display: block;
}
.features__imgs-item2 img{
    animation-name: migay;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes migay {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.features__imgs-item3 {
    display: flex;
    margin-top: 40px;
}
.features__imgs-text3 {
    color: #f1f1ea;
    font-size: 11px;
    font-family: 'exoTim';
    text-align: justify;
    max-width: 200px;
    margin-left: 40px;
}
.features__imgs-item3 img{
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: rotate(0deg);
}
@keyframes move {
    from {
        transform: rotate(-45deg);
    } to {
        transform: rotate(45deg);
    }
}

@media (max-width: 1700px) {
    .intro__title {
        font-size: 140px;
    }
    .features__inner {
        padding-left: 150px;
    }
}
@media (max-width: 1600px) {
    .intro__title {
        font-size: 120px;
    }
    .intro__mashine {
        width: 1200px;
        top: 450px;
    }
    .into__fone {
        width: 100%;
    }
    .idea__sidenya {
        left: 240px;
        width: 422px;
    }
    .idea__content {
        padding-right: 20px;
    }
    .features__img {
        
    }
    .swiper-button-next:after {
        margin-left: 0px;
    }
}
@media (max-width: 1500px) {
    .intro__title {
        font-size: 135px;
        letter-spacing: 5px;
    }
    .intro__mashine {
        width: 1400px;
        top: 500px;
    }
    .into__fone {
        width: 100%;
    }
    .idea__salane {
        width: 800px;
    }
    .idea__content2 {
        padding-left: 340px;
    }
    .idea__text2 {
        max-width: 659px;
        padding-left: 377px;
        padding-right: 130px;
    }
    .idea__title2 {
        font-size: 25px;
    }
    .idea__title2 span{
        font-size: 18px;
    }
    .features__img {
        width: 700px;
    }
    .features__title {
        font-size: 130px;
        letter-spacing: 5px;
    }
    .features__imgs-item img {
        position: absolute;
        left: 20px;
        top: 0;
        width: 91px;
    }
    .features__imgs-item img:nth-child(2) {
        top: 89px;
        left: -25px;
        width: 181px;
    }
    .features__imgs-text {
        bottom: 49px;
        left: 121px;
    }
    .swiper-button-next:after {
        margin-left: 0px;
        margin-bottom: 105px;
    }
}
@media (max-width: 1340px) {
    .intro__title {
        font-size: 110px;
    }
    .intro__mashine {
        width: 1200px;
        top: 440px;
    }
    .into__fone {
        width: 100%;
        height: 100%;
    }
    .idea__machine {
        width: 800px;
    }
    .idea__sidenya {
        left: 196px;
        width: 357px;
        top: -82px;
    }
    .idea__text {
        padding-left: 130px;
    }
    .idea__title span {
        font-size: 45px;
    }
    .idea__text2 {
        max-width: 527px;
        padding-left: 287px;
    }
    .features__img {
        right: 0px;
        width: 700px;
        top: 40px;
    }
    .features__title {
        font-size: 90px;
    }
    .features__suptitle {
        font-size: 18px
    }
    .features__text {
        font-size: 16px;
        max-width: 420px;
    }
    .features__content-text {
        margin: 22px 0 30px 0;
    }
    .features__inner {
        padding-left: 85px;
    }
    .features__imgs-item {
        width: 238px;
    }
    .swiper-button-next:after {
        margin-bottom: 143px;
    }
}
@media (max-width: 1200px) {
    .intro__title {
        font-size: 100px;
    }
    .intro__mashine {
        width: 1100px;
        top: 420px;
    }
    .into__fone {
        width: 100%;
    }
    .intro {
        height: 87vh;
    }
    .idea__title span {
        font-size: 35px;
    }
    .idea__title {
        font-size: 100px;
    }
    .idea__text2 {
        padding-right: 20px;
        max-width: 500px;
        padding-left: 101px;
    }
    .idea__title2 {
        font-size: 22px;
    }
    .features__img {
        right: 0px;
        width: 600px;
    }
    .swiper-button-next:after {
        margin-bottom: 190px;
    }
    .features__imgs-item img {
        position: absolute;
        left: 20px;
        top: 0;
        width: 91px;
    }
    .features__imgs-item img:nth-child(2) {
        top: 89px;
        left: -25px;
        width: 181px;
    }
    .features__imgs-text {
        bottom: 49px;
        left: 121px;
    }
    .features__imgs-text2 {
        padding-left: 10px;
    }
}